/* Header */

/* Section 1 */

/* Custom CSS for mobile multi-level dropdown */
.dropdown-submenu {
    position: relative;
  }
  
  .mm-m {
    padding-left: 2rem;
  }
  
  .dropdown-submenu .dropdown-menu {
    /* top: 0; */
    left: 100%;
    margin-top: 0;
  }
  
  .sm-tc {
    color: #000000 !important;
  }
  
  /* Search Box */
  
  .s1-col2 {
    justify-content: end;
    display: flex;
    padding: 0.5rem;
    width: 60%;
  }
  
  /* Section 2 */
  .s2-bgc {
    background-color: #27499b;
    padding: 10px 0;
  }
  
  .s2-tc {
    color: #27499b;
  }
  

/* Section 3 */
.s3-bd-colr{
    background-color: #F5F5F5;
}
.s3-tc{
    color: #0A2B5A; 
}


/* Section 4 */

.s3-t1-c{
    color: #1A1A1A;
    font-size: 1.5rem;
}
.s3-t2-c{
    color: #27499B;
    font-size: 1.3rem;
}
.s3-ta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.s7-tfs {
    font-size: 30px;
}
.s7-card-tbline {
    border-style: solid;
    border-width: 0rem 0rem 0.3rem 0rem;
    border-color: #F8A51B;
    align-items: center;
}




/* Section 5 */
.s6-bg-c{
    background-color: #F5F5F5;
}
.s6-col1-bg{
    background-color: #2575FC;
}
.s6-col2-bg{
    background-color: #F8A51B;
}
.s6-pfs{
    font-size: 1rem;
}
.s6-tfs{
    font-size: 2rem;
    
}

.s6-bw{
    width: 90% !important;
}



/* FOOTER */


/* Section 10 */
.s10-bg-img{
    background-image: url(../Assets/home/Mask\ Group\ 3bg.png);
    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    
}

.s10-img-h {
    height: 20rem;
    width: 100%;
}

.s10-em-r {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    width: 50%;
    padding: 0.8rem;
    outline: none;
}

.s10-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s10-container {
    position: relative;
    text-align: center;
    color: #000000;
}

.subscribe-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    padding: 5px 10px;
    cursor: pointer;
}

.s10-ifs {
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
}

.s10-iefs {
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
}


/* Section 11 */

.s11-bg-img{
    background-image: url(../Assets/home/Mask\ Group\ 36bg.png);
    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    
}
.s11-col4-si{
    justify-content:start;
    margin-left: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

/* Section 12 */